.App_container {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image:url(./img/bg.jpg);
  background-size: cover;
  background-position: center;
  width: 70vw;
  height: 100vh;
  top:10%;
  left:15vw;
}
.modal {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 70%;
  left: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  pointer-events: none;

}
.modal:target{
  opacity: 1;
  pointer-events: auto;
}
.modal > div {
  max-width: 50%;
  position: relative;
  margin: 10% auto;
  padding :0.8rem;
  border-radius: 0.2rem;
  background: #fff;
}
.button_sign {
  background-color: #376ecb;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.8rem;
  box-shadow: 10px 5px 5px black;
  /* margin-right: 5rem; */
}
.button_sign:hover {
  background: linear-gradient(white, #376ecb);
}

.button_sign span {
  /* font-size: 2rem; */
}
.bouton_modal{
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.8rem;
  box-shadow: 10px 5px 5px black;
  background-color: #22223b;
}
.modal h2{
  color: white;
  text-align: center;
  font-size: 2rem;
}
input {
  margin: auto;
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
}
footer a{
  color: white;
  background-color: #c9ada7;
  border-radius: 0.8rem;
  margin-right: 2rem;
  padding:  0.8rem;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  
}

.App_button {
  margin: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  
}
.App_titre {
/*   position: absolute;
  top: 150px;
  right: 100px; */
  background-color: rgba(0,0,0,0.4);
  border-radius: 5rem;
  color: white;
  padding: 3rem;
  margin: auto;
}

.App_titre h1{
  font-size: 3rem;
  margin: auto;
  font-weight: bold;
  letter-spacing: 1.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.App_titre h2 {
  font-size: 1.6em;
  margin: auto;
  color: rgb(77, 77, 77);
  text-align: center;
  letter-spacing: 0.5rem;
}


h3 {
  padding: 0.7rem;
}

.citation {
  padding: 0.7rem;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-family: 'Italianno', cursive;
}

.auteur {
  padding: 0.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}


main {
  width: 100%;
  margin: 1em auto;
  border-radius: 1rem;
  padding: 1rem 0 1rem;
}

section {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1rem;
  
}

footer {
  border-radius: 2rem;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

 @media screen and (max-width: 576px) {
  html {
    font-size : 10px;
  }
  .App_container {
    width: 100vw;
    left: 0;
  }
} 
